

.chatbot2 {
  width               : 100%;
  min-width           : 414px;
  height              : 100vh;
  min-height          : 736px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(37, 83, 96, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.chatbot2 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : -42px;
  height              : 58px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group .chatbubbles {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group .chatbubbles .chatbubblebot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 108px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.chatbot2 .group .hityron {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.chatbot2 .group .botavatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group .botavatar .iconchat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 34px;
  width               : 34px;
  position            : relative;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 105px;
  height              : 129px;
  width               : 386px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group3 .chatbubbleuser {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 129px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group3 .chatbubbleuser .rectangle8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 300px;
  -ms-transform       : rotate(-315deg); /* IE 9 */
  -webkit-transform   : rotate(-315deg); /* Chrome, Safari, Opera */
  transform           : rotate(-315deg);
}
.chatbot2 .group3 .chatbubbleuser .rectangle7 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 233px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group3 .chatbubbleuser .rectangle71 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group3 .chatbubbleuser .rectangle72 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 71px;
  height              : 58px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 267px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group3 .chatbubbleuser .rectangle73 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 71px;
  height              : 58px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group3 .chatbubbleuser .rectangle74 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 71px;
  height              : 58px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group3 .chatbubbleuser .rectangle75 {
  background-color    : rgba(66, 205, 200, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group3 .headache {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.chatbot2 .group3 .fever {
  background-color    : rgba(255,255,255,0.0);
  top                 : 89px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 279px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 21.0px;
}
.chatbot2 .group3 .unconscious {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.chatbot2 .group3 .fatigued {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 21.0px;
}
.chatbot2 .group3 .depressed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.chatbot2 .group3 .dizzy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.chatbot2 .group3 .useravatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 34px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 352px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group3 .useravatar .fjshdk {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 34px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : 58px;
  width               : 230px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group2 .chatbubblebotcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.chatbot2 .group2 .howdoyoufeel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.chatbot2 .group2 .botavatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group2 .botavatar .iconchat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 34px;
  width               : 34px;
  position            : relative;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 250px;
  height              : 62px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group21 .chatbubblebotcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 62px;
  width               : 288px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.chatbot2 .group21 .whendidyoustartf {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.chatbot2 .group21 .botavatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group21 .botavatar .iconchat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 34px;
  width               : 34px;
  position            : relative;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 326px;
  height              : 129px;
  width               : 378px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group31 .chatbubbleuser {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 129px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group31 .chatbubbleuser .rectangle8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 292px;
  -ms-transform       : rotate(-315deg); /* IE 9 */
  -webkit-transform   : rotate(-315deg); /* Chrome, Safari, Opera */
  transform           : rotate(-315deg);
}
.chatbot2 .group31 .chatbubbleuser .rectangle7 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 159px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group31 .chatbubbleuser .rectangle71 {
  background-color    : rgba(66, 205, 200, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group31 .chatbubbleuser .rectangle72 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 71px;
  height              : 58px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group31 .chatbubbleuser .rectangle73 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 71px;
  height              : 58px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : 170px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group31 .aweekorsoago {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : auto;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.chatbot2 .group31 .duringlast3hours {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 169px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.chatbot2 .group31 .last24hours {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 114px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.chatbot2 .group31 .morethan2days {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.chatbot2 .group31 .useravatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 34px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 344px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .group31 .useravatar .fjshdk {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 34px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 592px;
  height              : 81px;
  width               : 81px;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .oval7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 595px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 223px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.chatbot2 .drphil {
  background-color    : rgba(255,255,255,0.0);
  top                 : 700px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 177px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.0px;
  line-height         : 22.0px;
}
.chatbot2 .yourdoctorisready {
  background-color    : rgba(255,255,255,0.0);
  top                 : 493px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.0px;
  line-height         : 24.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
