

.patientdashboard3 {
  width               : 100%;
  min-width           : 414px;
  height              : 100vh;
  min-height          : 736px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.patientdashboard3 .bottomnavigation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 644px;
  height              : 98px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .bottomnavigation .bottomnavigation1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 90px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .bottomnavigation .bottomnavigation1 .rectangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 89px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .bottomnavigation .bottomnavigation1 .line1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 389px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .bottomnavigation .bottomnavigation1 .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 65px;
  width               : 129px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .bottomnavigation .bottomnavigation1 .home .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .bottomnavigation .bottomnavigation1 .home .icon .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 6px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(82, 82, 82, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .bottomnavigation .bottomnavigation1 .home .icon .rectangle3 {
  background-color    : rgba(82, 82, 82, 1.0);
  top                 : 7px;
  height              : 16px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .bottomnavigation .bottomnavigation1 .home .dashboard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(82, 82, 82, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.patientdashboard3 .bottomnavigation .bottomnavigation1 .profilepic {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 67px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 224px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .bottomnavigation .bottomnavigation1 .profilepic .profile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : auto;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(82, 82, 82, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.patientdashboard3 .bottomnavigation .bottomnavigation1 .profilepic .fjshdk {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .bottomnavigation .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 45px;
  width               : 46px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 648px;
  width               : 424px;
  position            : absolute;
  margin              : 0;
  left                : -5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -5px;
  height              : 654px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .join29july2019 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 247px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 139px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : justify;
  line-height         : 28.0px;
}
.patientdashboard3 .healthcareprofessi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 350px;
  height              : auto;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(87, 87, 87, 1.0);
  text-align          : justify;
  line-height         : 28.0px;
}
.patientdashboard3 .healthplan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 490px;
  height              : auto;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(87, 87, 87, 1.0);
  text-align          : justify;
  line-height         : 28.0px;
}
.patientdashboard3 .a684930 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 205px;
  height              : auto;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(87, 87, 87, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.patientdashboard3 .drphilacertified {
  background-color    : rgba(255,255,255,0.0);
  top                 : 406px;
  height              : auto;
  width               : 207px;
  position            : absolute;
  margin              : 0;
  left                : 139px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(87, 87, 87, 1.0);
  text-align          : justify;
  line-height         : 20.0px;
}
.patientdashboard3 .a511668964 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 378px;
  height              : 63px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .a511668964 .a5116689641 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 62px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 294px;
  height              : 5px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : 91px;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .oval7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 233px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard3 .tyronwood {
  background-color    : rgba(255,255,255,0.0);
  top                 : 163px;
  height              : auto;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.0px;
  line-height         : 22.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}