

.patientdashboard2 {
  width               : 100%;
  min-width           : 414px;
  height              : 100vh;
  min-height          : 736px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.patientdashboard2 .bottomnavigation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 644px;
  height              : 98px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .bottomnavigation1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 90px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .bottomnavigation1 .rectangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 89px;
  width               : 390px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .bottomnavigation1 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 389px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .bottomnavigation1 .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 65px;
  width               : 129px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .bottomnavigation1 .home .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .bottomnavigation1 .home .icon .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 6px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(82, 82, 82, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .bottomnavigation1 .home .icon .rectangle3 {
  background-color    : rgba(82, 82, 82, 1.0);
  top                 : 7px;
  height              : 16px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .bottomnavigation1 .home .dashboard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(82, 82, 82, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.patientdashboard2 .bottomnavigation .bottomnavigation1 .profilepic {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 67px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 224px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .bottomnavigation1 .profilepic .profile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : auto;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(82, 82, 82, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.patientdashboard2 .bottomnavigation .bottomnavigation1 .profilepic .fjshdk {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .iconactive {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 44px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .iconactive .rectangle2 {
  background-color    : rgba(66, 205, 200, 1.0);
  top                 : 0px;
  height              : 43px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .bottomnavigation .iconactive .rectangle3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 7px;
  height              : 16px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 648px;
  width               : 424px;
  position            : absolute;
  margin              : 0;
  left                : -5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .topbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 42px;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 117px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .topbar .rectangle4copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 42px;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .topbar .rectangle4copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 42px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .topbar .medications {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(175, 175, 175, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.patientdashboard2 .topbar .myreports1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 112px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.patientdashboard2 .line3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 2px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 539px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .bloodreport {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : auto;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .a24apr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : auto;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .a24apr1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 153px;
  height              : auto;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .a22apr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 226px;
  height              : auto;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .a22apr1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 297px;
  height              : auto;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .a22apr2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 376px;
  height              : auto;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .drivepdf {
  background-color    : rgba(255,255,255,0.0);
  top                 : 76px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 126px;
  height              : 2px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .diabeteslabreport {
  background-color    : rgba(255,255,255,0.0);
  top                 : 155px;
  height              : auto;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .drivepdf1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 149px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf1 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 220px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf2 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf2 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .line1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 272px;
  height              : 2px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 197px;
  height              : 2px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .mriscans {
  background-color    : rgba(255,255,255,0.0);
  top                 : 377px;
  height              : auto;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 16.0px;
}
.patientdashboard2 .myreports .drivepdf3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 369px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf3 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf3 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .line31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 344px;
  height              : 2px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivedocument {
  background-color    : rgba(255,255,255,0.0);
  top                 : 291px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivedocument .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivedocument .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 41px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .rectangle41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 41px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 247px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .latest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(87, 87, 87, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .archived {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(175, 175, 175, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .line21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .last7days {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 265px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(87, 87, 87, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .arrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 365px;
  -ms-transform       : rotate(-45deg); /* IE 9 */
  -webkit-transform   : rotate(-45deg); /* Chrome, Safari, Opera */
  transform           : rotate(-45deg);
}
.patientdashboard2 .myreports .xraysscan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 226px;
  height              : auto;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 16.0px;
}
.patientdashboard2 .myreports .diabeteslabreport1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 300px;
  height              : auto;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .vitaminddeficiency {
  background-color    : rgba(255,255,255,0.0);
  top                 : 446px;
  height              : auto;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 16.0px;
}
.patientdashboard2 .myreports .a21apr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 445px;
  height              : auto;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .a21apr1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 512px;
  height              : auto;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.patientdashboard2 .myreports .drivepdf4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 440px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf4 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf4 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .line4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 486px;
  height              : 2px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .line5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 421px;
  height              : 2px;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .allergybloodtest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 514px;
  height              : auto;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(71, 71, 71, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 16.0px;
}
.patientdashboard2 .myreports .drivepdf5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 508px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf5 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .drivepdf5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.patientdashboard2 .myreports .rectangle7 {
  background-color    : rgba(221, 221, 221, 1.0);
  top                 : 83px;
  height              : 225px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 397px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}