

.waitingconnectionchatbot {
  width               : 100%;
  min-width           : 414px;
  height              : 100vh;
  min-height          : 736px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(37, 83, 96, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.waitingconnectionchatbot .whileweconnectyou {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.0px;
  line-height         : 24.0px;
}
.waitingconnectionchatbot .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 391px;
  height              : 58px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group .chatbubbles {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group .chatbubbles .chatbubblebot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 108px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.waitingconnectionchatbot .group .hityron {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.waitingconnectionchatbot .group .botavatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group .botavatar .iconchat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 34px;
  width               : 34px;
  position            : relative;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 538px;
  height              : 129px;
  width               : 386px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group3 .chatbubbleuser {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 129px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group3 .chatbubbleuser .rectangle8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 300px;
  -ms-transform       : rotate(-315deg); /* IE 9 */
  -webkit-transform   : rotate(-315deg); /* Chrome, Safari, Opera */
  transform           : rotate(-315deg);
}
.waitingconnectionchatbot .group3 .chatbubbleuser .rectangle7 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 233px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group3 .chatbubbleuser .rectangle71 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group3 .chatbubbleuser .rectangle72 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 71px;
  height              : 58px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 267px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group3 .chatbubbleuser .rectangle73 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 71px;
  height              : 58px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group3 .chatbubbleuser .rectangle74 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 71px;
  height              : 58px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group3 .chatbubbleuser .rectangle75 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 58px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group3 .headache {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.waitingconnectionchatbot .group3 .fever {
  background-color    : rgba(255,255,255,0.0);
  top                 : 89px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 279px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 21.0px;
}
.waitingconnectionchatbot .group3 .unconscious {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.waitingconnectionchatbot .group3 .fatigued {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 21.0px;
}
.waitingconnectionchatbot .group3 .depressed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.waitingconnectionchatbot .group3 .dizzy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.waitingconnectionchatbot .group3 .useravatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 34px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 352px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group3 .useravatar .fjshdk {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 34px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 467px;
  height              : 58px;
  width               : 230px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group2 .chatbubblebotcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.waitingconnectionchatbot .group2 .howdoyoufeel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.waitingconnectionchatbot .group2 .botavatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .group2 .botavatar .iconchat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 34px;
  width               : 34px;
  position            : relative;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 155px;
  height              : 188px;
  width               : 232px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 124px;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 91px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : 119px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .rectanglepath {
  background-color    : rgba(224, 224, 224, 1.0);
  top                 : 61px;
  height              : 7px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 137px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .rectanglepath1 {
  background-color    : rgba(224, 224, 224, 1.0);
  top                 : 74px;
  height              : 7px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .rectanglepath2 {
  background-color    : rgba(224, 224, 224, 1.0);
  top                 : 87px;
  height              : 7px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .rectanglepath3 {
  background-color    : rgba(224, 224, 224, 1.0);
  top                 : 100px;
  height              : 7px;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 140px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .rectanglepath4 {
  background-color    : rgba(224, 224, 224, 1.0);
  top                 : 113px;
  height              : 7px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 124px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .shape3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 119px;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .rectanglepath5 {
  background-color    : rgba(66, 205, 200, 1.0);
  top                 : 18px;
  height              : 7px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .rectanglepath6 {
  background-color    : rgba(66, 205, 200, 1.0);
  top                 : 31px;
  height              : 7px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .rectanglepath7 {
  background-color    : rgba(66, 205, 200, 1.0);
  top                 : 43px;
  height              : 7px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .rectanglepath8 {
  background-color    : rgba(66, 205, 200, 1.0);
  top                 : 56px;
  height              : 7px;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .rectanglepath9 {
  background-color    : rgba(66, 205, 200, 1.0);
  top                 : 69px;
  height              : 7px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .botavatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 128px;
  height              : 60px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.waitingconnectionchatbot .undrawchat1wo5 .botavatar .iconchat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 59px;
  width               : 59px;
  position            : relative;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}